body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
}

.container {
    max-width: 800px;
    margin: 120px auto;
    border-radius: 10px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

h1,
h3 {
    font-family: Verdana, sans-serif;
    font-weight: 1000;
    text-align: center;
    color: #404;
}

form {
    flex-direction: column;
    gap: 10px;
    display: flex;
    margin-bottom: 20px;
}

input,
button {
    font-size: 16px;
    border: 2px solid #000;
    border: none;
    border-radius: 4px;
    padding: 10px;
    background-color: #f0f4f8;
}

button {
    cursor: pointer;
    width: fit-content;
    margin: auto;
    color: #fff;
    background-color: #c82;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    border: 1px solid #000;
    padding: 8px;
}

th {
    color: #fff;
    background-color: #404;
}

#resumo-status {
    text-align: center;
    margin: 10px;
}